@page
@model NutriTic.App.Frontend.Pages.ListaEmpleadoModel
@{
     Layout="_LayoutEmpleadoAdmin";
}
<a class="btn btn-primary mt-5" asp-page="/Empleado/Empleado">Crear Nuevo Empleado</a>
<div class="card card-body mt-3">
    <h2>Lista Empleado</h2>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th scope="col">Identificación</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Cargo</th>
                <th scope="col">Acciones</th>
           
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Empleados)
        {
                <tr>
                    <td>@e.IdEmpleado</td>
                    <td>@e.PrimerNombre @e.SegundoNombre @e.PrimerApellido @e.SegundoApellido </td>
                    <td>@e.Correo</td>
                    <td>@e.Telefono</td>
                    <td>@e.NombreCargo</td>                         
                    <td>
                        <a class="btn btn-outline-primary" asp-page="./ActualizarEmpleado" asp-route-id="@e.IdEmpleado">Editar</a>
                        <a class="btn btn-outline-danger"  asp-page="./EliminarEmpleado" asp-route-id="@e.IdEmpleado">Eliminar</a>
                    </td>
                
                </tr>
        }
        </tbody>

       
    </table>
</div>
