@page
@model NutriTic.App.Frontend.Pages.ListaEmpleadoModel
@{
}
<a class="btn btn-primary mt-5" asp-page="/Empleado/Empleado">Crear Nuevo Empleado</a>
<div class="card card-body mt-3">
    <h2>Lista Empleado</h2>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Cargo</th>
                <th scope="col">Acciones</th>
           
            </tr>
        </thead>

        @foreach (var e in Model.Empleados)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.PrimerNombre @e.SegundoNombre @e.PrimerApellido @e.SegundoApellido </td>
                <td>@e.Correo</td>
                <td>@e.Telefono</td>
                <td>@e.CargoEmpleado.</td>
                
                @foreach (var ce in Model.CargoEmpleados)
                {
                     <td>@ce.NonbreCargo</td>
                }
               
                <td>
                    <a class="btn btn-outline-primary" asp-page="./Actualizar" asp-route-id="@e.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-page="./Eliminar" asp-route-id="@e.Id">Eliminar</a>
                </td>
             
            </tr>
        }
    </table>
</div>
