@page
@model NutriTic.App.Frontend.Pages.MedidasModel
@{
    Layout = "_LayoutPaciente";

    <div class="content mt-5">
        <a class="btn btn-primary" asp-page="/Medidas/CrearMedida">Crear Medida</a>
        <div class="card card-body mt-3">
            <div class="card card-body mt-3">
                <h3>Historial de medidas</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id Medida</th>
                            <th>Fecha Medida</th>
                            <th>Peso</th>
                            <th>IMC</th>
                            <th>Variación IMC</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in Model.Medidas)
                        {
                            <tr>
                                <td>@e.IdMedida</td>
                                <td>@e.FechaMedida</td>
                                <td>@e.Peso</td>
                                <td>@e.Peso</td>
                                <td>@e.Peso</td>

                                <td>
                                    <a class="btn btn-outline-secondary" asp-page="./ActualizarMedida"
                                    asp-route-id="@e.IdMedida">Editar</a>
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="card card-body mt-3">
                <h3>Historial de valoraciones</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id Medida</th>
                            <th>Fecha valoración</th>
                            <th>valoración</th>
                            <th>Empleado</th>
                            <th>Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                         @foreach (var e in Model.Valoraciones)
                        {
                            <tr>
                                <td>@e.IdMedida</td>
                                <td>@e.FechaValoracion</td>
                                <td>@e.Comentario</td>
                                <td>@e.NombreCompleto</td>
                                <td>@e.NombreCargo</td>                         

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>


    </div>
}
